# Python virtual envs
.venv/
backend/.venv/
__pycache__/
*.pyc

# Env keys
.env

# Node
frontend/node_modules/
frontend/dist/

# Logs
*.log
backend/*.out
backend/*.err

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# keep generated build files out of git
infra/lambda_build.zip
lambda_build/