# build artifacts
infra/lambda_build.zip
lambda_build/
backend/*.zip

# archive/build folders
backend/.aws_zip_build/
backend/.zip_staging/

# zip/build artifacts
*.zip
archive/**/*.zip
layer/python.zip
infra/lambda_build.zip
lambda_build/

# old build folders
backend/.aws_zip_build/
backend/.zip_staging/

# OS/editor
.DS_Store
.vscode/

# Python
__pycache__/
*.pyc

# frontend
frontend/node_modules/
frontend/dist/

# secrets
.env